
@import "reset.less";
@import "project.less";
@import "smart-grid.less";
/*.reset();*/
/*---------------------------HEADER-----------------------------------*/

html,body {
    width:100%;
}

.wrapper {
    max-width:1228px;
    margin:0 auto;
    padding: 0 30px;
     
}

.header__top {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    text-align:center;
   
    .header__logo{
        
         margin-top:35px;
         
        width:15.5%;
        box-sizing: border-box;
        float:left;


       
       
        .logo__link {
            display: block;
            font-size: 0;
           
            width:182px;
            height: 46px;
            background:url(../img/sprite_1.png) no-repeat 0 1px;
           
        }
             
           
    }
           
                  
               
                

         
               
               
             
    .header__menu {
       float:left;
        margin-top:55px;
        width:59%;
        margin-left:17.5%;
        box-sizing: border-box;
        text-align: center;
        .button__click {
            color:#fff;
            display: none;
            font-size:1.5em;
            cursor:pointer;
            
        }
            
           

            
            
             
        
       
       
           
             
            
        .menu {
            
            &__item {
           
            float: left;
            margin-right: 30px;
            font-size:0.875em;
            font-family: 'Montserrat', sans-serif;
            
            
            
                &--link {
                    text-decoration: none;
                    &:hover {
                        color:#c7b299;
                    }
                }
            }
            
               
        }
    }
            
    .header__icons {
        
         margin-top:55px;
        font-size:0;
        float:right;
        width:6.5%;
        box-sizing: border-box;
       
        .icon__basket {
            display: inline-block;
           
             vertical-align: middle;
           
            .icon__basket--1 {
            display: inline-block;
            width: 20px;
            height: 25px;
            background: url(../img/sprite_1.png) no-repeat -29px -115px; 
            vertical-align: middle;
            
            }
        }

                
        .icon__search {
            display: inline-block;
            position:relative;
             vertical-align: middle;
             margin-left:28px;
            
                .icon__search--2 {
               
                display: inline-block;
                width:25px;
                height: 23px;
                background: url(../img/sprite_1.png) no-repeat -31px -140px;
                vertical-align: middle;
            }  
        }
    }


           
    
      
       
}
      
/*-----------------------------HEADER_SLIDER-------------------------------*/ 

 .header__slider {
   
   &--item {
    position: relative;
    

   }
    img {
        width:100%;
        font-size: 0;
      
    }
    .wrap__desc {
        position: absolute;
        top:30%;
        left:0%;
        right:0%;
        bottom:0;
        margin: auto;
        text-align: center;
           
            .header__slider--text  {
                display: block;
                font-size:2.25em;
                font-family: 'Raleway', sans-serif;
                color:#fff;
                margin-bottom:13px;
               
            }

            h1.header__slider--title {
                font-size:3.25em;
                font-family: 'Raleway', sans-serif;
                color:#fff;
                font-weight: bold;
                 margin-bottom:16px;
                 
            }
            p.header__slider--prg {
                max-width:570px;
                margin:0 auto;
                font-size:1em;
                font-family: 'Myriad Pro', sans-serif;
                color:#fff;
                 margin-bottom:52px;
                  
            }
            a.header__slider--button {
                 font-size:0.875em;
                font-family: 'Myriad Pro', sans-serif;
                color:#fff;
                text-transform: uppercase;
                text-decoration: none;
                padding:20px 45px;
                border-radius:7px;
                background: #998675;
                box-shadow:  0 -3px 0 rgba(115,99,87,1) inset;
                
            }

            }

 }

            

            

 