
@import "reset.less";
@import "project.less";
@import "smart-grid.less";
/*.reset();*/
/*---------------------------HEADER-----------------------------------*/

html,body {
    width:100%;
}

.wrapper {
    max-width:1228px;
    margin:0 auto;
    padding: 0 30px;
    @media screen and (max-width:1170px) {
                 padding: 0 20px;
                     }
            
            
     @media screen and (max-width:992px) {
            
                 padding: 0 10px;
            
                     }
}
   
     

.header__top {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1000;

    text-align:right;
    @media screen and (max-width:1170px) {
            text-align:left;
        }

    .wrapper {
         position: relative;
    }
   
    .header__logo{
       position:absolute;
        top:33px;
        left:30px;
        width:182px;
        height: 46px;
        @media screen and (max-width:1170px) {
            position:static;
            margin:0 auto;
            margin-top:15px;

        }
         @media screen and (max-width:992px) {
            position:absolute;
            margin-top:0;
            top:18px;
            left:10px;
            
        }
        .logo__link {
            display:block;           
            width:100%;
            @media screen and (max-width:1170px) {
            width:95%;
        }
        @media screen and (max-width:992px) {
            
           width:75%;
            
        }
         @media screen and (max-width:576px) {
                
                 width:55%;
                }
        }
    }
       
       
        
            
            
         


       
       
            
           
            
           
             
           
           
                  
               
                

         
               
               
             
    .header__menu {
        display: inline-block;
        margin-top:55px;
        @media screen and (max-width:1170px) {
            margin-top:35px;
        }
         @media screen and (max-width:992px) {
            width:100%;
            margin-top:70px;
        }
        @media screen and (max-width:576px) {
            display:none;
        }
           
            
           
            
        /*@media screen and (max-width:720px) {
           display:none;
        }*/

        /*Кнопка выпадающего меню*/
        .button__click {
            color:#fff;
            display: none;
            font-size:1.5em;
            cursor:pointer;
        }
        /*Кнопка выпадающего меню*/
            
        
        
      
       
            
           

            
            
             
        
       
       
           
            .nav {
                 display: table;
                width:100%;
                margin:0 auto;
            } 
            
        .menu {
            @media screen and (max-width:992px) {
               display: table-row;
              
            }
           

            
            &__item {
           
            float: left;
            margin-right: 30px;
            font-size:0.875em;
            font-family: 'Montserrat', sans-serif;
            @media screen and (max-width:992px) {
            float: none;
            display: table-cell;
            text-align:center;
           
        }

            
             
             
            
           
            
                &:last-child {
                     margin-right: 63px;
                };
            
            
                &--link {
                    text-decoration: none;
                    &:hover {
                        color:#c7b299;
                    }
                }
            }
            
               
        }
    }
            
    .header__icons {
         margin-top:55px;
        font-size:0;
        float:right;
        
        @media screen and (max-width:1170px) {
            margin-top:35px;
        }
        
        @media screen and (max-width:992px) {
            margin-top:0;
            float:none;
            position:absolute;
            top:18px;
            right:10px;
        }
       
        .icon__basket {
            display: inline-block;
             vertical-align: middle;
           
           
            .icon__basket--1 {
            display: inline-block;
            width: 20px;
            height: 24px;
            background: url(../img/sprite_1.png) no-repeat -29px -116px; 


            }
            
            
        }

                
        .icon__search {
            display: inline-block;
            position:relative;
             vertical-align: middle;
             margin-left:28px;
            
                .icon__search--2 {
                display: inline-block;
                width:25px;
                height: 23px;
                background: url(../img/sprite_1.png) no-repeat -31px -140px;
                cursor: pointer;
            }  
             /*---------строка поиска--------*/  

            .search_tostring {
                display: none;
                position:absolute;
                bottom:-40px;
                right:0;
                width:100px;
                height:30px;
                color:black;
                font-size:16px;

            }
            /*---------строка поиска--------*/  
        }
    }


           
    
      
       
}
      
/*-----------------------------HEADER_SLIDER-------------------------------*/ 

 .header__slider {
   
   &--item {
    position: relative;
    
   }

    img {
        width:100%;
        font-size: 0;
      
    }
    .wrap__desc {
        position: absolute;
        top:30%;
        left:0%;
        right:0%;
        bottom:0;
        margin: auto;
        text-align: center;
         @media screen and (max-width:992px) {
            
                 top:37%;
            
                     }
        @media screen and (max-width:576px) {
            top:25%;
        }

           
            .header__slider--text  {
                display: block;
                font-size:2.25em;
                font-family: 'Raleway', sans-serif;
                color:#fff;
                margin-bottom:13px;
                 @media screen and (max-width:1170px) {
                    font-size:1.75em;
                }
                 @media screen and (max-width:992px) {
            
                font-size:1.25em;
                margin-bottom:7px;
            
                     }
            @media screen and (max-width:576px) {
                font-size:0.85em;
                margin-bottom:3px;
                }
               
            }

            h1.header__slider--title {
                font-size:3.25em;
                font-family: 'Raleway', sans-serif;
                color:#fff;
                font-weight: bold;
                 margin-bottom:16px;
                  @media screen and (max-width:992px) {
                    font-size:2.25em;
                    margin-bottom:10px;
                }
                @media screen and (max-width:576px) {
                font-size:1.45em;
                margin-bottom:7px;
                }
                 
            }
            p.header__slider--prg {
                max-width:570px;
                margin:0 auto;
                font-size:1em;
                font-family: 'Myriad Pro', sans-serif;
                color:#fff;
                margin-bottom:52px;
                @media screen and (max-width:992px) {
                    font-size:0.55em;
                    margin-bottom:42px;
                    max-width:420px;
                }


                @media screen and (max-width:576px) {
                    max-width:300px;
                    margin-bottom:35px;
                }
                  
            }
            a.header__slider--button {
                font-size:0.875em;
                font-family: 'Myriad Pro', sans-serif;
                color:#fff;
                text-transform: uppercase;
                text-decoration: none;
                padding:20px 45px;
                border-radius:7px;
                background: #998675;
                box-shadow:  0 -3px 0 rgba(115,99,87,1) inset;
                @media screen and (max-width:992px) {
                font-size:0.55em;
                padding:8px 20px;

                }

            }

            }

 }
 

            

            

 